
@media(max-width: 768px) {
  #menu-mobile, #close-menu{
    display: block;
    font-size: 1.5em;
  }

  #menu-mobile{
    margin-left: 20px;
  }

  .container{
    padding: 0;
  }  

  header{
    height: 70px;
  }

  header a img{
    width: 150px;
    position: absolute;
    top: 0;
    right: 10px;
  }

  ul{
    display: block;
    height: 100vh;
    width: 290px;
    position: fixed;
    z-index: 1;
		top: 0;
		left: 0;
		background-color: #111;
		padding-top: 65px;
		transition: .5s;
    transform: translateX(-290px);
  }

  ul li{
    display: block;
    padding-bottom: 5px;
  }

  ul li a{
    padding: 8px 8px 8px 32px;
		color: #818181;
    font-size: 1.5em;
  }

  ul li a:hover{
    background-color: transparent;
    color: #fff;
  }

  header #close-menu{
    position: absolute;
		top: 0;
		left: 83%;
		z-index: 9999;
		font-size: 2rem;
		margin-left: 10px;
		margin-top: 26px;
		color: #111;
    padding: 0 2px;
    background-color: #fff;
    transition: .5s;
    display: block;
  }

  header #close-menu:hover{
    background-color: red;
  }

  .banner{
    height: 400px;
  }

  .info{
    padding: 4rem 1.2rem;
  }

  .sinopse{
    max-width: 55%;
    padding: 1em 0;
  }

  .btn{
    max-width: 50%;
  }

  .box{
    height: 300px;
  }
}

@media(max-width: 438px){
  .banner{
    height: 300px;
  }

  .info{
    padding: 2rem 1.2rem;
  }

  .title{
    font-size: 18px;
  }

  .sinopse{
    max-width: 75%;
    padding: 0.5em 0;
  }

  .btn{
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .btn button{
    width: 100%;
    margin: 2px 0;
  }

  .tag{
    padding-top: 4px 0;
  }

  .box{
    height: 400px;
  }
}